<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../global.css">
    <link rel="stylesheet" href="./header.css">   
</head>
<body>
    <div class="cover">
        <div class="navbar">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="../../gallery/gallery.html">Gallery</a></li>
                <li><a href="">Price list</a></li>
                <li><a href="">Opening times</a></li>
                <li><a href="../../bookings/bookings.html">Booking</a></li>
            </ul>
        </div>

        <picture>
            <img src="../../assets/img/global/brandPicture.jpg" alt="BrandPicture" class="brandPicture">
        </picture>
        <p class="solgen">It's your<br>time to shine</p>
        <svg>
            <img src="../../assets/img/global/logo.svg" alt="logo" class="logo">
        </svg>

        <h1>
            The best barbershop ever
        </h1>

    </div>
</body>
</html>