.content {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: white;
  width: 75%;
}
.list {
  display: none;
}

.table {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 0.5rem;
  height: 50%;

  display: grid;
  grid-template-columns: min-content 3fr;
  grid-template-rows: repeat(8, 3rem);
  gap: 15px;
  justify-items: stretch;
}

.days {
  grid-column: 1 / 2;
  grid-row: 2 / 9;
  justify-self: flex-end;
  align-self: end;
}

.hours {
  grid-column: 2 / 5;
  grid-row: 1 / 9;

  align-self: end;
}

.numbers {
  grid-column: 2 / 5;
  grid-row: 1 / 2;

  font-size: 1.7rem;
  font-weight: 900;

  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
  font-size: 2.5rem;
  margin: 0.8rem;
}

.white {
  height: 2.5rem;
  margin: 1.1rem;
  margin-right: 0;
  border-radius: 10px;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.dark {
  height: 2.5rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #b18b8b;
  margin-top: 0;
  margin-right: 0.5rem;

  display: flex;
  justify-content: left;
}

.mondayLine,
.fridayLine {
  width: 90%;
}

.tuesdayLine,
.wednesdayLine,
.thursdayLine {
  width: 62%;
  margin-right: 7%;
}

.saturdayLine {
  width: 34%;
  margin-right: 35%;
}


@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }

  .numbers {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .monday,
  .tuesday,
  .wednesday,
  .thursday,
  .friday,
  .saturday,
  .sunday {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  
.table {
  display: none;
}
.list{
  margin: 0 auto; 
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

table{
  color:#8B5B5B;
  width: 70%;
  font-size: 2rem;
  border: 2px solid whitesmoke;
  border-spacing: 10px;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

}