body {
    height: 100vh;
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
} 

h1 {
    font-size: 70px;
} 

h1, p{
    color: pink;
    text-align: center; 
}

span {
    color: red;
}

span:hover {
    font-size: 60px;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;

}