.content {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10rem 4rem;
}

.portrait {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 1.5rem;
  padding: 0.2rem;
  height: 20rem;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  height: 20rem;
  width: 20rem;
  margin-top: 0;
  font-size: 1.5rem;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: left;
  width: 25rem;
  text-overflow: clip;
  display: block;
}

.name {
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px #641252;
}

@media screen and (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem
  }

  h1 {
    font-size: 2.5rem;
  }
  
  .name {
    text-align: center;
  }

  .portrait.rossel {
    order: -3;
  }

  .profile.rossel {
    order: -2;
  }

  .portrait.smith {
    order: -1;
  }

}