/*
.container {
    
    display: flex;
    margin: 0px auto;
    /*margin: 100px 300px;*/
    /*width: 90vw;
    
    
}
.image-gallery{    
   
    background-size: cover;
    
    /*background-color: #ad9a78;
    background-blend-mode: darken;*/
    /*background-position: center;
    height: 90vh;
    border-radius: 85px;
    color: white;
    cursor: pointer;
    margin: 10px;
    /*flex: 0.2;*/
    /*width: 100px;
    position: relative;
    /*-webkit-transition: all 300ms ease-in;*/
    /*width: 100px; 
    background-repeat: no-repeat;
    opacity: 0.8;
    color: #9e6c6c;
    
    filter: grayscale(100%);*/
    
    
    
/*
}

.image-gallery.large {
    background-size: cover;
    
    /*background-color: #ad9a78;
    background-blend-mode: darken;*/
    /*background-position: center;
    /*flex:1;*/
    /*width: 800px;
    background-color: white;
    transition-duration: 1000ms;
    filter: grayscale(0%);
   
}

h1{
    font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 3rem;
        color: white;
    }
.image-gallery h2{
    font-size: 20px;
    position: absolute;
    top: 20px;
    color:violet;
    left: 50px;
    margin: 0;
    opacity: 0;

}
.image-gallery.large h2{
    opacity: 1;
    transition: opacity 0.8s ease-in;
    
}
@media(max-width: 480px){
    .container{
        width: 100vw;
    } 
 } 
*/
*{
  box-sizing: border-box;
}

.container {
  display: flex;
  /*align-items: center;
  justify-content: center;
  width: 100vw;
   
  padding: 50px;*/
  height: 90vh;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  padding: 150px 0 150px;
  
}
.image-gallery{
  /*background: linear-gradient(90deg, rgba(0, 0 , 0, .4) 0%, rgba(0, 0, 0, 0.4) 80%);*/
  transition-duration: 1000ms;
  /*-webkit-transition: all 500ms ease-in;*/
  background-size: 100% ;
  background-position: center;
  overflow: hidden;
  display:flex;
  justify-content:center;
  /*background-size: cover;*/
  height: 100%;
  border-radius: 80px;
  cursor: pointer;
  margin: 5px;
  width: 80px;
  /*flex: 1;*/
  /*width: 300px !important;*/
  transition: 1000ms ease-in;
  background-repeat: no-repeat;
  
}

/*.image-gallery img {
  /*width: 100%;*/
  /*min-width: 750px;*/
  /*height: 100%;
  border-radius: 15px;
}*/

.image-gallery.large {
  position: relative;
  background-size: cover;
  /*flex:4;*/
  width: 450px;
 
  border-radius: 50px;


  
  /*height: 1155px !important;*/
}

.image-gallery:not(.large) {
  filter: grayscale(80%);
}

.image-gallery.large img {
  width: 100%;
  /*object-fit:contain;*/
  background-size: cover;
}
.image-gallery h2{
  font-size: 20px;
  position: absolute;
  top: 20px;
  color:rgb(165, 112, 165);
  right: 50px;
  margin: 0;
  opacity: 0;

}
.image-gallery.large h2{
  opacity: 1;
  transition: opacity 0.8s ease-in;
  
}
@media(max-width: 480px){
  .container{
      width: 100vw;
  } 
} 