body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8b5b5b;
    
}


.container {
    display: flex;
    margin: 0px auto;
    width: 80vw;
    margin: 50px 150px;
    
}
.image-gallery{    
    background-size: cover;
    background-color: rgba(41, 35, 35, 0.333); 
    background-blend-mode: darken;
    height: 75vh;
    border-radius: 30px;
    cursor: pointer;
    margin: 8px;
    flex: 1;
    background-repeat: no-repeat;
    transition: flex 1s ease-in;
    color: #9e6c6c;
    position: relative;

}

.image-gallery.large {
    flex:4;
    background-color: whitesmoke;
}
h1{
    font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 3rem;
        color: white;
    }
.image-gallery h2{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 0;
    opacity: 0;
}
.image-gallery.large h2{
    opacity: 1;
    transition: opacity 0.8s ease-in; 
}
@media(max-width: 480px){
    .container{
        width: 100vw;
    } 
 }