/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

body {
    background-color: white;
}

.active {
    color: white!important;
}

.navbar {
    background:rgb(185, 185, 185);
}

#togglerbutton{
    border: 2px solid #633D3D;
}

#togglerbutton:focus {
    border: 3px solid #633D3D!important;
    box-shadow: 0 0 0 0!important;
}

.navbar-toggler-icon {
    color:  #633D3D!important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-item a{
    color: #633D3D;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-item a:hover{
    color: white!important;
}

.cover {
    background-image: url("../assets/images/csaje.jpg");
    height: 200px;
    background-size: cover;
    position: relative;
    display: grid;
    justify-content: flex-end;
    align-items: center;
}
.time-to-shine{
    width:150px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;       
    margin: 0px 25px;
}

.time-to-shine span{
    font-family: 'Rouge Script';
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 3px black;
    line-height: normal;
}

.absolute-logo {
    height: 100px;
    width: 100px;
    background: rgb(216, 190, 250);
    border-radius: 60px;
    position: absolute;
    bottom: -50px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.absolute-logo svg {
    height: 75px;
    width: 75px;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .cover {
        background-image: url("../assets/images/csaje.jpg");
        height: 250px;
        background-size: cover;
        position: relative;
        display: grid;
        justify-content: flex-end;
        align-items: center;
    }
    .time-to-shine{
        width:200px;
        height: 150px;
        display: grid;
        justify-content: center;
        align-items: center;       
        margin: 0px 25px;
    }
    
    .time-to-shine span{
        font-family: 'Rouge Script';
        font-size: 3rem;
        color: white;
        text-shadow: 3px 3px 3px black;
        line-height: normal;
    }
    
    .absolute-logo {
        height: 150px;
        width: 150px;
        background: rgb(216, 190, 250);
        border-radius: 80px;
        position: absolute;
        bottom: -75px;
        margin: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    
    .absolute-logo svg {
        height: 100px;
        width: 100px;
    }    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
}




