/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,500;1,700;1,900&family=Rouge+Script&display=swap');


/* general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px auto;
}

.active {
    color: white!important;
}

/* navbar styles */

.navbar {
    background:rgb(185, 185, 185);
    padding: 0px;
}

#togglerbutton{
    border: 2px solid #633D3D;
}

#togglerbutton:focus {
    border: 3px solid #633D3D!important;
    box-shadow: 0 0 0 0!important;
}

.navbar-toggler-icon {
    color:  #633D3D!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a{
    height: 66px;
    color: #633D3D;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: 10px!important;
}

.nav-item a:hover{
    color: white!important;
    background-color: #633D3D;
}

/* content styles */

.cover {
    background-image: url("../assets/images/csaje.jpg");
    height: 200px;
    background-size: cover;
    position: relative;
    display: grid;
    justify-content: flex-end;
    align-items: center;
}
.time-to-shine{
    width:150px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;       
    margin: 0px 25px;
}

.time-to-shine span{
    font-family: 'Rouge Script';
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 3px black;
    line-height: normal;
}

.absolute-logo {
    height: 100px;
    width: 100px;
    background: rgb(216, 190, 250);
    border-radius: 60px;
    position: absolute;
    bottom: -50px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.absolute-logo svg {
    height: 75px;
    width: 75px;
}

.container {
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.titles{
    margin: 20px auto;
    display: grid;
    align-items: center;
}

.titles h1 {
    font-size: 4rem;
    font-family: 'Rouge Script', cursive;
    text-shadow: 5px 5px 5px grey;
}

.form {
    width: 100%;
}

/* appointment type field styles*/ 

#type {
    padding: 9px 0.75rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    display: grid; 
}

#spacer{
    width: 135px; 
   
}

#choice {
    width: 135px;    
     
}

.hairStyleChoice{
    width: 135px;
   
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -66px;
    background: linear-gradient(rgba(138, 105, 90, 0), rgb(138, 105, 90, 1));

}

.push {
    height: 66px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    height: 66px;
}

footer span {
    color: #633D3D;
    font-weight: 500;
    font-size: 1.25rem;    
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .cover {
        background-image: url("../assets/images/csaje.jpg");
        height: 250px;
        background-size: cover;
        position: relative;
        display: grid;
        justify-content: flex-end;
        align-items: center;
    }
    .time-to-shine{
        width:200px;
        height: 150px;
        display: grid;
        justify-content: center;
        align-items: center;       
        margin: 0px 25px;
    }
    
    .time-to-shine span{
        font-family: 'Rouge Script';
        font-size: 3rem;
        color: white;
        text-shadow: 3px 3px 3px black;
        line-height: normal;
    }
    
    .absolute-logo {
        height: 150px;
        width: 150px;
        background: rgb(216, 190, 250);
        border-radius: 80px;
        position: absolute;
        bottom: -75px;
        margin: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    
    .absolute-logo svg {
        height: 100px;
        width: 100px;
    }    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
}




