body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testfooterdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
    height: 66px;
}

.testfooterdiv p {
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    margin: 0px;
}